<div>
    <!-- <iframe width="600" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=600&cp=40.001356313019784~-3.796747756482887&lvl=5.75018276461891&typ=d&sty=a&src=SHELL&FORM=MBEDV8" scrolling="no">
    </iframe> -->

    <img src="../../assets/españa.jpg" alt="Mapa España" class="mapa" usemap="#workmap">
    
    <map name="workmap">
        <area shape="poly" coords="107,25,72,29,66,36,78,88,102,80,107,84,102,89,105,94,113,91,147,90,146,85,156,78,156,72,145,65,154,47,153,43,149,43,149,40,155,37,143,25,149,17,129,4,101,14,102,18,109,20" alt="Galicia" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE GALICIA')" class="clicable">
        <area shape="poly" coords="149,18,143,24,155,36,149,40,149,43,153,43,154,47,170,46,167,43,180,41,181,39,189,46,199,41,203,43,210,39,218,40,218,37,227,35,239,32,239,27,215,20,207,18,195,14,151,16" alt="Asturias" (click)="mapClicked('PRINCIPADO DE ASTURIAS')" class="clicable">
        <area shape="poly" coords="239,26,238,32,227,35,228,42,242,42,254,55,266,55,260,48,272,37,279,39,279,35,284,31,290,29,276,22" alt="Cantabria" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE CANTABRIA')" class="clicable">
        <area shape="poly" coords="290,29,290,30,284,30,278,35,279,38,290,37,290,44,292,42,296,45,294,50,288,48,285,50,286,52,293,52,290,54,299,57,301,54,309,56,312,60,303,61,306,62,305,66,315,69,316,64,314,62,321,56,322,51,323,48,328,47,335,40,335,35,339,35,341,30,338,27,300,24" alt="País Vasco" (click)="mapClicked('COMUNIDAD AUTÓNOMA DEL PAÍS VASCO')" class="clicable">
        <area shape="poly" coords="290,172,333,250" alt="Navarra" (click)="mapClicked('COMUNIDAD FORAL DE NAVARRA')" class="clicable">
        <area shape="poly" coords="337,300,44" alt="Aragón" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE ARAGÓN')" class="clicable">
        <area shape="poly" coords="34,44,270,350" alt="Cataluña" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE CATALUÑA')" class="clicable">
        <area shape="poly" coords="290,172,333,250" alt="Valencia" (click)="mapClicked('COMUNITAT VALENCIANA')" class="clicable">
        <area shape="poly" coords="337,300,44" alt="Murcia" (click)="mapClicked('REGIÓN DE MURCIA')" class="clicable">
        <area shape="poly" coords="34,44,270,350" alt="Andalucía" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE ANDALUCÍA')" class="clicable">
        <area shape="poly" coords="290,172,333,250" alt="Extremadura" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE EXTREMADURA')" class="clicable">
        <area shape="poly" coords="337,300,44" alt="Castilla-la Mancha" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE CASTILLA-LA MANCHA')" class="clicable">
        <area shape="poly" coords="34,44,270,350" alt="Madrid" (click)="mapClicked('COMUNIDAD DE MADRID')" class="clicable">
        <area shape="poly" coords="290,172,333,250" alt="Castilla y León" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE CASTILLA Y LEÓN')" class="clicable">
        <area shape="poly" coords="337,300,44" alt="La Rioja" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE LA RIOJA')" class="clicable">
        <area shape="poly" coords="34,44,270,350" alt="Islas Baleares" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE BALEARES')" class="clicable">
        <area shape="poly" coords="290,172,333,250" alt="Islas Canarias" (click)="mapClicked('COMUNIDAD AUTÓNOMA DE CANARIAS')" class="clicable">
        <area shape="poly" coords="337,300,44" alt="Ceuta" (click)="mapClicked('CIUDAD AUTÓNOMA DE CEUTA')" class="clicable">
        <area shape="poly" coords="337,300,44" alt="Melilla" (click)="mapClicked('CIUDAD AUTÓNOMA DE MELILLA')" class="clicable">
    </map>
</div>