<div class="container-body">
  <div class="container-main">
    <h1 class="title">¿Cómo afectan las lluvias a la composición química del aire y a la desertificación en España peninsular?</h1>
    <h3 class="subtitle">Con estas representaciones gráficas podrás hacerte una idea</h3>
    <div class="container-data">
      <div class="container-graphics">
        <app-graphics title="prec"></app-graphics>
        <app-select-time></app-select-time>
        <app-graphics title="quim"></app-graphics>
      </div>
      <div class="container-map">
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>